.nav-container {
  width: 100%;
  background-color: #000;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.left-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.nav-link {
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 0.3s;
  min-width: 120px;
  text-align: center;
}

.nav-link:hover {
  transform: scale(1.05);
}

.home-link {
  background-image: url("../assets/footballfield.jpg");
}
.players-link {
  background-image: url("../assets/footballplayer.jpg");
}
.rankings-link {
  background-image: url("../assets/rankingpic.jpg");
}
.teams-link {
  background-image: url("../assets/groupofpeople.jpg");
}
.positions-link {
  background-image: url("../assets/nflplayers.webp");
}
